* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin-left: 0;
}

body {
    background-color: #F3F5FC;
    overflow: hidden;
}

.logo {
    position: absolute;
    left: 40px;
    top: 30px;
}

.main {
    display: flex;
    margin-left: 40px;
    margin-bottom: 50p8x;
    margin-top: 40px;
    padding: 0px;
}

.input-texto {
    width: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 32px;
    border: lightblue ;
    background-color: #F3F5FC;
    padding: 60px;
}

.input-texto::placeholder {
    font-weight: 400;
    font-size: 25px;
    color: darkblue;
    margin-left: 30px;
    line-height: 150%;
}

.mensagem {
    width: 300px;
    height: 500px;
    margin-top: 30px;
    margin-right: 60px;
    margin-left: 50px;
    background-image: url(./imagens/boneco.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border-color: #495057;
    border: none;
    line-height: 150%;
    font-size: 24px;
    padding: 10px 10px;
    overflow: hidden;
    
}

.mensagem::placeholder {
    position: absolute;
    text-align: center ;
    margin-top: 380px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    padding: 10px 10px;
    width: 250px;
    text-align: center;
    line-height: 19px;
}

p {
    font-size: 11px;
    line-height: 150%;
    text-align: center;
}
textarea {
    resize: none;
    outline: 0;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    padding: 0px;
}

.encriptar {
    font-size: 16px;
    background-color: darkblue;
    color: white;
    border: 0;
    text-shadow: 2px 2xp 2px rgba(0, 0, 0, 0.8);
    border-radius:  0.5rem;
    box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 40px;
}        

.encriptar:active {
    box-shadow: 0 0 0 0 darkblue, inset 3px 3px 3px rgba(0, 0, 0, 0.8);
    transform: translate( 3px, 3px);
}

.desencriptar {
    margin-left: 40px;
    font-size: 16px;
    color: darkblue;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 40px;
}

.desencriptar:active {
    box-shadow: 0 0 0 0 darkblue, inset 3px 3px 3px rgba(0, 0, 0, 0.8);
    transform: translate( 3px, 3px);
}

.instrucao {
    text-align: left;
    flex-direction: row;
    margin-left: 70px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: gray;
    top: 850px;
    
}

.copiar {
    display: none;
    width: 200px;
    height: 40px;
    border: 0;
    text-shadow: 2px 2xp 2px rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.8);
    color: darkblue;
    font-size: 16px;
    position: absolute;
    line-height: 150%;
    top: 500px;
    left: 990px;
}

.copiar:active {
    box-shadow: 0 0 0 0 darkblue, inset 3px 3px 3px rgba(0, 0, 0, 0.8);
    transform: translate( 3px, 3px);
}

.redes-sociais h6 {
    display: inline-block;
    margin-top: 0px;
    margin-left: 110px;
    color: darkblue;
    font-size: 12px;
    padding: 0px;
}

.redes-sociais img {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
}